    <!-- src/main/resources/templates/componentes/header.html -->
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>PetCare</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>

    <header th:fragment="body" class="bg-primary text-white p-3">
        <h1>PetCare</h1>
        <nav>
            <a th:href="@{/ongs}" class="text-white me-3">ONGs</a>
            <a th:href="@{/ongs/novo}" class="text-white">Cadastrar ONG</a>
        </nav>
    </header>
